:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

.tasks-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(0, 0, 0);
}